<div class="fixed inset-0 bg-black bg-opacity-50 z-50" x-data="{openModal: false}" x-cloak x-show="openModal"
    x-on:openmodal.window="openModal=true">
    <div class="w-full 2xl:w-1/4 sm:w-1/2 mx-auto flex justify-center items-center h-full">
        <div class="bg-white w-full p-6" x-on:click.away="openModal=false">
            <p class="text-center">
                As "risadinhas" são os pixs no <a href="https://pixie.gg/meiaum" class="text-blue-500 underline"
                    target="_blank">pixie do MeiaUm</a>. O objetivo é, quando a regressiva acabar, é a hora que todo
                mundo se
                junta pra fazer um negócio engraçado, sabe
            </p>
        </div>
    </div>
</div>